<article class="articulos">
    <img src="/images/<%= product.image %>" alt=" <%= product.name %>"
        class="product_img">
    <div class="descripcion">
        <i class="fas fa-truck"></i>
        <p class="precios"> $ <%= product.price %> </p>
        <p class="descuento">  <%= product.descuento %> % off </p>
        <h4 class="titulares" > <%= product.name %> </h4>
    </div>
</article>
