<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="banner">
        <img src="/images/img-home-banner.jpg"   alt="Banner de ofertas" class="img-banner">
    </section>

    <main class="main">
        
        <section class="ultima-visita">
            <h3 class="titulo">Basado en tu última visita</h3>

            <% products.forEach( product => { %> 
                <%- include('partials/product', { product })    %>
            <% }) %>

        </section>

        <section class="ofertas">

            <% products.forEach( product => { %> 
                <%- include('partials/product', { product })    %>
            <% }) %>

        </section>    
    </main>

    <%- include('partials/footer') %>

</body>
</html>